logpath={{mongod_log}}

# fork and run in background
fork = false

logappend=true


port = {{ mongod_port }}

dbpath={{ mongod_dbdir }}

# location of pidfile
pidfilepath = {{ mongod_datadir_prefix }}/mongod_{{ mongod_port }}.pid

