---

classifier_data_access_key: ...
classifier_data_secret_key: ...
girder_data_access_key: ...
girder_data_secret_key: ...

girder_admin_email: example@example.com
girder_admin_password: ...

healthmap_apikey: ...
bing_translate_id: ...
bing_translate_secret: ...
git_user: ...
git_password: ...
flower_user: ...
flower_password: ...
grits_api_key: ...

apache_crt: |
  -----BEGIN CERTIFICATE-----
  ...
  -----END CERTIFICATE-----

apache_key: |
  -----BEGIN PRIVATE KEY-----
  ...
  -----END PRIVATE KEY-----
