[program:girder]
command=/opt/girder/env/bin/python -m girder
directory=/opt/girder
user={{ grits_user }}
autostart=true
autorestart=unexpected
environment=GIRDER_MONGO_URI="mongodb://172.30.2.123:27017/girder"
