<VirtualHost *:80>
  ServerName {{ apache_url }}
  RewriteEngine on
{% if docker %}
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI}
{% else %}
  RewriteRule ^{{ girder_mount_path }}$ {{ girder_mount_path }}/ [R]
  RewriteRule ^/internal.* [F]
  RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
  RewriteCond %{HTTP:CONNECTION} ^Upgrade$ [NC]
  RewriteRule .* ws://localhost:{{ meteor_port }}%{REQUEST_URI} [P]

  ProxyPass {{ girder_mount_path }}/ http://localhost:{{ girder_socket_port }}/
  ProxyPassReverse {{ girder_mount_path }}/ http://localhost:{{ girder_socket_port }}/
  ProxyPass /api/v1/public_diagnose http://localhost:5000/public_diagnose
  ProxyPassReverse /api/v1/public_diagnose http://localhost:5000/public_diagnose
  ProxyPass /api/v1/bsve/ http://localhost:5000/bsve/
  ProxyPassReverse /api/v1/bsve/ http://localhost:5000/bsve/
  ProxyPass /api/v1 http://localhost:444/api/v1
  ProxyPassReverse /api/v1 http://localhost:444/api/v1
  ProxyPass / http://localhost:{{ meteor_port }}/
  ProxyPassReverse / http://localhost:{{ meteor_port }}/
{% endif%}
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ apache_url }}
  SSLEngine on
{% if docker %}
  SSLCertificateFile /cert1.pem
  SSLCertificateKeyFile /privkey1.pem
  SSLCACertificateFile /fullchain1.pem
{% else %}
  SSLCertificateFile /etc/letsencrypt/live/grits-dev.ecohealthalliance.org/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/grits-dev.ecohealthalliance.org/privkey.pem
  SSLCACertificateFile /etc/letsencrypt/live/grits-dev.ecohealthalliance.org/fullchain.pem
{% endif%}
  ProxyPreserveHost On

  RewriteEngine on
  RewriteRule ^{{ girder_mount_path }}$ {{ girder_mount_path }}/ [R]
  RewriteRule ^/internal.* [F]
  RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
  RewriteCond %{HTTP:CONNECTION} ^Upgrade$ [NC]
  RewriteRule .* ws://localhost:{{ meteor_port }}%{REQUEST_URI} [P]

  ProxyPass {{ girder_mount_path }}/ http://localhost:{{ girder_socket_port }}/
  ProxyPassReverse {{ girder_mount_path }}/ http://localhost:{{ girder_socket_port }}/
  ProxyPass /api/v1/public_diagnose http://localhost:5000/public_diagnose
  ProxyPassReverse /api/v1/public_diagnose http://localhost:5000/public_diagnose
  ProxyPass /api/v1/bsve/ http://localhost:5000/bsve/
  ProxyPassReverse /api/v1/bsve/ http://localhost:5000/bsve/
  ProxyPass /api/v1 http://localhost:444/api/v1
  ProxyPassReverse /api/v1 http://localhost:444/api/v1
  ProxyPass / http://localhost:{{ meteor_port }}/
  ProxyPassReverse / http://localhost:{{ meteor_port }}/
</VirtualHost>

<VirtualHost *:444>
  ServerName {{ apache_url }}
  # Configures static file server for API docs
  DocumentRoot {{ grits_api_prefix }}/static
  <Directory {{ grits_api_prefix }}/static>
      Require all granted
  </Directory>
</VirtualHost>
